.element.part1 { background-color:#FF8272;   }
.element.part2 { background-color:#DCFFE6;   }
.element.part3 { background-color:#5FA8FF;   }
.element.part4 { background-color:#FFFBCE;   }
.element.part5 { background-color:#FFD34E;   }
.element.part6 { background-color:#E8D7BF;   }
.element.part7 { background-color:#7AFFAD;   }
.element.part8 { background-color:#8C56E8;   }
.element.part9 { background-color:#6CA0FF;   }
.element.part10 { background-color:#435DD1;   }
.element.part11 { background-color:#5772E8;   }
.element.part12 { background-color:#DAFFC6;   }
.element.part13 { background-color:#5662E8;   }
.element.part14 { background-color:#63E881;   }
.element.part15 { background-color:#AEFF76;   }
.element.part16 { background-color:#805FFF;   }
.element.part17 { background-color:#796CFF;   }
.element.part18 { background-color:#ACA9FF;   }
.element.part19 { background-color:#CFE8BC;   }
.element.part20 { background-color:#AA8DE8;   }
.element.part21 { background-color:#6DFFD5;   }
.element.part22 { background-color:#FFF741;   }
.element.part23 { background-color:#CFE7FF;   }
.element.part24 { background-color:#8EA4E8;   }
.element.part25 { background-color:#E2F55C;   }
.element.part26 { background-color:#DBDFFF;   }
.element.part27 { background-color:#FFFED3;   }
.element.part28 { background-color:#FF684E;   }
.element.part29 { background-color:#E8E1B4;   }
.element.part30 { background-color:#6AFF72;   }
.element.part31 { background-color:#E85147;   }
.element.part32 { background-color:#BCE8E4;   }
.element.part33 { background-color:#DFBCE8;   }
.element.part34 { background-color:#FFDFDC;   }
