.element.part1 { background-color:#A60000;  }
.element.part2 { background-color:#A6640C;  }
.element.part3 { background-color:#A60000;  }
.element.part4 { background-color:#5CCCCC;  }
.element.part5 { background-color:#0B8F5D;  }
.element.part6 { background-color:#33CCCC;  }
.element.part7 { background-color:#00CC00;  }
.element.part8 { background-color:#21DC95;  }
.element.part9 { background-color:#3CA57D;  }
.element.part10 { background-color:#4B50A6;  }
.element.part11 { background-color:#3C44DE;  }
.element.part12 { background-color:#BF7130;  }
.element.part13 { background-color:#FF7400;  }
.element.part14 { background-color:#67E667;  }
.element.part15 { background-color:#33CCCC;  }
.element.part16 { background-color:#FFB273;  }
.element.part17 { background-color:#9999;  }
.element.part18 { background-color:#8F94EE;  }
.element.part19 { background-color:#FF9640;  }
.element.part20 { background-color:#5CCCCC;  }
.element.part21 { background-color:#269926;  }
.element.part22 { background-color:#FFD126;  }
.element.part23 { background-color:#8500;  }
.element.part24 { background-color:#FF4040;  }
.element.part25 { background-color:#FF7373;  }
.element.part26 { background-color:#FFCC88;  }
.element.part27 { background-color:#39E639;  }
.element.part28 { background-color:#FFB95D;  }
.element.part29 { background-color:#BF8B45;  }
.element.part30 { background-color:#FFA226;  }
.element.part31 { background-color:#FF0000;  }
.element.part32 { background-color:#21DC95;  }
.element.part33 { background-color:#7EEDC3;  }
.element.part34 { background-color:#56EDB4;  }